package example

templ MainPage() {
    <main>
        <h1>Metereological Station App</h1>
        <div hx-get="api/v1/ExampleApp/time" hx-trigger="every 1s" hx-swap="innerHTML">
            Loading time...
        </div>
    </main>
}